
// ---------- keyframes---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}

// ---------- site-header---------------------------------
.site-header{
	width : 100%;
	clear : both;
	z-index : 999;
	@include at-breakpoint($medium) {
		position :fixed;

	}

	.header-inner {
		@include at-breakpoint($medium){

		}
	}
	div.hero{
		background-color: $glassyBlack;
		text-align : center;
		color : $grey2;
		.site-logo-for-tablet{
			width : auto;
			height : 130px;
			display : block;
			.site-logo {
				height : 100%;
				max-height : 100%;
				width : auto;
				margin-top : 8px;
			}
			@include at-breakpoint($medium){
				display : none;
			}
		}

		.lang-container{
			position : absolute;
			top : 4px;
			right : 40px;
			display : inline-block;
			padding : 10px;
			#lang_sel_list ul a.lang_sel_other,
			#lang_sel li ul a:link,
			 #lang_sel_list ul a.lang_sel_other:visited,
			 span.icl_lang_sel_current.icl_lang_sel_native,
			 a.lang_sel_sel {
    			background-color: rgba(0,0,0,0) !important;
    			background: rgba(0,0,0,0) !important;
    			border : 0px;
				color : $grey1;
			}
			#lang_sel_list ul {
			    border-top: 0px;
			}
		}
		.contact-info-bar{
			padding : 7px;
			font-size : 90%;
			color : darken($grey2,25%);
			span {
				display : inline-block;
				i:before {
					color: $orang;
					margin-right: 5px;
					margin-left: 10px;

				}
			}
		}
	}
	nav.main-menu{
		@extend .def-box-shadow;
		width : 100%;
		position : relative;
		@include background(image-url("patiab-header-top.png") top left repeat-x,
				image-url("patiab-header-bottom.png") bottom left repeat-x,
				$glassyNavy);

		.site-logo-contianer {
			position: absolute;
			top: -37px;
			left: 0;
			z-index: 999999;
			width: 160px;
			display :none;
			margin-top : 5px;
			margin-left: 10px;
			@include at-breakpoint($medium) {
				display : block;
			}
			a.site-url {
				.site-logo {
					display: block;
					max-width: 100%;
				}

			}
		}
		&.scroll-to-fixed-fixed{
			.site-logo-in-menu{
				display: inline-block;
				float : left;
			}
		}
		/*-------search form-------------------*/
		.search-form-wrapper{
			display: none;
			position : absolute;
			top : 100%;
			right : 0;
			left : 0;
			width : 100%;

			height : auto;
			background-color: $glassyNavy;
			z-index: 99999;
			padding : 15px;
			border-radius : 0px;
			@include at-breakpoint($medium) {
				left : auto;
				width : auto;
				max-width : 100%;
				@include border-bottom-radius(10px);
			}
			.search-area{
				float : right;
				span#submit {
					cursor: pointer;
					i:before {
						margin-left: 5px;
						color: $white;

					}
				}
			}
		}
	}
	div.menu-icons{
		display: block;
		width:100%;
		text-align: right;
		@include at-breakpoint($medium){
			width : auto;
		}
		float : right;
	}
	span.menu-icon{
		@extend .def-transition;
		display: inline-block;
		padding : 25px 15px;
		cursor: pointer;
		//z-index:999998;
		margin-right : -3px;
		&:hover{
			background-color: $navy;
			opacity : 0.7;
		}

		@include at-breakpoint($medium){
			display: none;
			border-bottom : 0px;

		}
		i:before{
			color : $white;
			font-size: 	140%;
		}
		&:hover{
			i:before{
				opacity : 0.9;
			}
		}
		&.search-icon{
			@include at-breakpoint($medium){
				display: inline-block;
			}
		}
	}


}
ul.main-nav{
	@extend .def-transition;
	width : 100%;
	text-align : left;
	padding-left : 40px;
	padding-right : 40px;
	margin : 0px auto;
	display : none;
	margin-left : 0px;
	clear : both;
	padding-bottom : 20px;
	@include at-breakpoint($medium){
		margin-left : 130px;
		clear : none;
		padding-bottom : 0px;

	}

	@include at-breakpoint($medium){
		display: block;
		.menu-search-area{
			display : inline-block;
		}
	}



	&>li{
		display: block;
		@include at-breakpoint($medium){
			display: inline-block;
			margin-right : -3px;
			margin-left : 0px;
		}
		position : relative;
		&.fa{
			font : inherit;
			font-family: $open-sans,$serif;
			
			&:before{
				font : normal normal normal 14px/1 FontAwesome !important;
				color : $white;
			}
		}
		a{
			@extend .def-transition;

			color : $grey1;
			padding : 5px;
			border : 0px;
			@include at-breakpoint($medium){
				padding: 25px 10px;

			}
    		display: inline-block;
    		&:hover{
    			background-color : $navy;
				opacity: 0.7;
    		}

		}
		@include at-breakpoint($medium) {
			&.current_page_item {
				& > a {
					background-color: $navy;
					opacity: 0.7;
				}
			}
		}
		
	 }
	 &>li.menu-item-has-children>a:after{
		@extend .fa;
		@include at-breakpoint($medium){
			content: "\f0d7";
			vertical-align : middle;
			padding-left: 5px;
			// width walker added
			position: absolute;
	    	right: 45%;
	    	top: 50px;
	    }
	}
	&>li>ul.sub-menu{
		@include at-breakpoint($medium){
			border-top : 1px solid $navy;
		}
	}
	&>li>ul.sub-menu,li ul.sub-menu{
		//@include single-transition(all , 0.8s , ease-in-out);
		z-index : 0;
		
		padding : 0;
		margin : 0;
		
		
		@include at-breakpoint($medium){
			text-align : center;
			opacity: 0;
			position : absolute;
			top : 100%;
			left : -30%;
			display: block;
			display: inline-block;
			@include display-none;
		}

		
		
		
		li{
			//display: none;
			@include at-breakpoint($medium){
				background-color : $navy;
		 		@include animation('move-down .5s 1');
		 		position : relative;
		 	}
		}
		
		a{
			min-width : 220px;
			padding : 5px;
			@include at-breakpoint($medium){
				padding : 10px 20px;
				border : 0px;
				color : $grey1;
				background: none;
				&:hover{
					color : $orang;
					 background-color : $navy;

				}
			}
		}
		li.menu-item-has-children>a:after{
			@extend .fa;
			@include at-breakpoint($medium){
				content: "\f0da";
			    right: 12px;
			    position: absolute;
			        top: 16px;
			    vertical-align : middle;
			}
		}
	}
	&>li:hover{
		
		@include at-breakpoint($medium){
			&>ul.sub-menu{
				opacity: 0.9;
				visibility: visible;
		  		transition-delay:0s;
		  		z-index : 9999;
				&>li{
					//display: inline-block;
					//opacity : 1;
					@include animation('move-up .5s 1');
				}

				
			}
		}
	}
	
	&>li>ul.sub-menu li ul{
		//@include single-transition(all , 0.8s , ease-in-out);
		
		
		padding : 0;
		margin : 0;
		
		
		display: block;
		@include at-breakpoint($medium){
			text-align : center;
			z-index : 0;
			opacity: 0;
			left : 100%;
			top : 0;
			display: inline-block;
			@include display-none;
		}
		
		
		
		
		li{
			//display: none;
			@include at-breakpoint($medium){
				background-color : $navy;
		 		@include animation('move-down .5s 1');
		 		position : relative;
		 	}
		}
		
		a{
			min-width : 180px;
			padding : 5px;
			@include at-breakpoint($medium){
				padding : 15px;
			}
			background: none;
			&:hover{
				color : $orang;
				 background-color : $navy;
			}
		}
	}
	&>li>ul.sub-menu li:hover{
		@include at-breakpoint($medium){
			&>ul.sub-menu{
				opacity: 1;
				visibility: visible;
		  		transition-delay:0s;
		  		z-index : 9999;
		  		
				&>li{
					//display: inline-block;
					//opacity : 1;
					@include animation('move-up .5s 1');
					
				}

				
			}
		}
	}
	ul.sub-menu li:hover ul{
		@include at-breakpoint($medium){
			display: inline-block;
			left : 100%;
			top : 0;
		}

	}
}






