
// ---------- keyframes---------------------------------
@include keyframes(move-up) {
	0%   { opacity : 0;display:none; }
	100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
	0%   { opacity : 1;display : inline-block; }
	100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
	0%   { opacity : 1;display : inline-block; }
	100% { opacity : 1;display : inline-block  }
}

// ---------- site-header---------------------------------
.site-header{

	div.hero{
		.contact-info-bar{
			font-size : 90%;
			span {
				i:before {
					margin-right: 10px;
					margin-left: 5px;

				}
			}
		}
	}
	nav.main-menu{
		.site-logo-contianer {
			right: 0;
			left: auto;
			margin-right: 10px;
			margin-left: auto;
		}
		&.scroll-to-fixed-fixed{
			.site-logo-in-menu{
				float : right;
			}
		}
		/*-------search form-------------------*/
		.search-form-wrapper{
			@include at-breakpoint($medium) {
				left : 0;
				right : auto;
			}
			.search-area{
				float : left;
				span#submit {
					i:before {
						margin-right: 5px;
						margin-left: auto;

					}
				}
			}
		}
	}
	div.menu-icons{
		text-align: left;
		float : left;
	}
	span.menu-icon{
		@extend .def-transition;
		margin-left : -3px;
		margin-right : auto;

	}


}
ul.main-nav{
	@extend .def-transition;
	text-align : right;
	margin-right : 0px;
	margin-left : auto;
	@include at-breakpoint($medium){
		margin-right : 130px;
		margin-left : auto;

	}




	&>li{
		@include at-breakpoint($medium){
			margin-right : 0px;
			margin-left : -3px;
		}
		&.fa{
			font-family: $Yekan;

			&:before{
				font : normal normal normal 14px/1 FontAwesome !important;
			}
		}

	}
	&>li.menu-item-has-children>a:after{
		@extend .fa;
		@include at-breakpoint($medium){
			padding-right: 5px;
			padding-left: 1px;
			// width walker added
			left: 45%;
			right: auto;
		}
	}
	&>li>ul.sub-menu,li ul.sub-menu{

		@include at-breakpoint($medium){
			right: -30%;
			left : auto;
		}





		li.menu-item-has-children>a:after{
			@extend .fa;
			@include at-breakpoint($medium){
				content: "\f0d9";
				right: auto;
				left: 12px;
			}
		}
	}

	&>li>ul.sub-menu li ul{
		@include at-breakpoint($medium){
			right: 100%;
			left : auto;
		}
	}
	ul.sub-menu li:hover ul{
		@include at-breakpoint($medium){
			left : auto;
			right: 100%;
		}

	}
}






