/* main style */
.site-content{
	.banner-wrapper{
		@include background(image-url("patiab-article-side-rtl.png") top right repeat-y,
				$glassyWhite);
		border-right: 3px solid $navy;
		border-left : 0px;
		text-align: right;

	}
}

.page-template-without-sidebar {
	.primary {
		@include span-columns(12, 12);
		@include at-breakpoint($medium) {
			@include span-columns(12, 12);
			margin-right : auto;
		}
	}
}

//-------------site-content-------------------

.primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(9,12);
		margin-right : auto;
	}

	article.hentry{
		border-right : 3px solid $navy;
		border-left: 0px;

		@include background(image-url("patiab-article-side-rtl.png") top right repeat-y,
				$glassyWhite);

		.article-body{
			.featured-image.single-image{
				@include span-columns(12,12);
				@include at-breakpoint($medium){
					@include span-columns(4,12);
					margin-right : auto;
				}
			}
			.excerpt{
				@include span-columns(12,12);
				@include at-breakpoint($medium){
					@include span-columns(8 omega,12);
					margin-right : auto;
				}
			}
		}
		ul.pharmacy-information-list{
			i:before{
				padding-left : 7px;
				padding-right : 1px;
			}
		}
	}


}
.without-sidebar .primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(12,12);
		margin-right : auto;
	}
}
/*------------store locator----------------------*/

.secondary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(3 omega,12);
		margin-right : auto;
	}
	nav.side-menu{
		li{
			img{
				float : right;
				margin-left : 8px;
				margin-right : auto;
			}
			&.menu-item-object-product_cat>a:after{
				@extend .fa;
				@include at-breakpoint($medium){
					padding-right: 5px;
					padding-left: 1px;
					content: "\f0da";
					left: auto;
					right: 4px;

				}
			}
		}
		ul.sub-menu{
			@include at-breakpoint($medium) {
				left: 100%;
				right: auto;
				border-left : 0px;
				border-right : 4px solid $orang;
			}



		}
	}
	aside.widget{
		&.widget_contact_info_widget{
			i:before{
				margin-left: 10px;
				margin-right: auto;
			}
		}
	}


}

