article.comment-body{
	padding: 10px;
}
.comment-area{
	.comment-metadata{
		float : left;
	}
	.comment-author{
		width: 100px;
		float: right;
		padding: 10px;
		img {
			max-width : 100%;
			height : auto;
		}
	}
	.reply{
		float : left;
	}
	.depth-1{
		@include at-breakpoint($medium) {
			margin-left : auto;
			margin-right : 0;
		}
	}
	.depth-2{
		@include at-breakpoint($medium) {
			margin-right : 20px;
			margin-left : auto;
		}
	}
	.depth-3{
		@include at-breakpoint($medium) {
			margin-right : 40px;
			margin-left : auto;
		}
	}
	.depth-4{
		@include at-breakpoint($medium) {
			margin-right: 60px;
			margin-left : auto;
		}
	}
}
#commentform{
	label{
		float: right;
	}

}
.form-allowed-tags{
	display: none;
}